// ========================
// 4th layer colors
// ========================

.fourthLayerExtra,
ul li a,
.logo {
	text-shadow: 3px 2px 2px black;
	box-shadow: 3px 3px 8px 1px black;
}

// sets the border for the 4th layer
.fourthLayerBorder,
.main-nav li,
footer li a,
.video, .logo {
	border: solid black 1px;
}

// sets the background and tekst color for the 4th layer
.fourthlayer,
.main-nav li a,
footer li a,
.video {
	background: linear-gradient(black,grey,black);
	color: azure;
}

// sets the hover background color for the 4th layer
.fourthlayer,
.main-nav li a:hover,
footer li a:hover,
.video:hover {
	background: linear-gradient(black,white,black);
}
