<!--main -->
<main class="row">
    <div class="float-l col-m-1"><br></div>

    <div class="float-l col-m-10 col-xs-12 main">
        <div class="row title-wrap">
            <div class="title-head float-l col-xs-12 col-m-12">
                <h1>Sorry</h1>

                <div class="row">
                    <div class="float-l col-xs-12 col-m-6">
                        <p>
                            We hebben hard gezocht maar uw gevraagde pagina niet gevonden hoogst waarschijnlijk bestaat deze pagina niet.
                            <br><br>
                            Probeer anders een van de pagina's in de navigatie hierboven.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="float-l col-m-1"><br></div>
</main>
