@media only screen and (min-width: 600px) {

    //makes sure the dropdown shows propely
    .projecten , .cvee {
    	position: relative;
    }

    //hides dropdown-content
    .dropdown-content {
        display: none;
        margin-top: -1px;
    }

    //shows the dropdown menu when hovering
    .projecten:hover .dropdown-content,
    .cvee:hover .dropdown-content {
    	display: block;
        position: absolute;
        border: 1px solid black;
    }
}
