// sticks the main navigation to the top
.main-nav {
    margin-top: 0px;
}

// removes unnecessary padding inherited from the grid
.main-nav,
.main-nav > .dropdown-nav,
.main-nav li {
    padding: 0px;
}

// centers text inside the dropdown menu
.dropbtn {
    padding: 15px;
}

// sets the basis height
.main-nav li,
.logo {
    height: 60px;
}

// inherits the height through out the nav
.main-nav li,
.main-nav li a,
.main-nav li div,
.main-nav li div a {
    height: 100%;
}

//removes style type
ul {
    list-style-type: none;
}

//hides the dropdown button
.hid-if-mob {
    display: none;
}

//not a phone
@media only screen and (min-width: 600px) {

    //shows the dropdown button
    .hid-if-mob {
        display: block;
    }
}
