<footer class="footer col-12">
    <ul class="col-12 float upper-footer">

        <!-- collumn-1 -->
        <ul class="col-4 float footer-box">
            <li>
                <h5 class="footer-h5">Onze visie</h5>
                <p class="footer-visie">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                </p>
            </li>
        </ul>

        <!-- collumn-2 -->
        <ul class="col-4 float footer-box">
            <li>
                <h5 class="footer-h5">Meest interesante pagina's</h5>
                <ul class="footer-middle-box footer-linkbox">
                    <li class="footer-link"><a href="#">page a</a></li>
                    <li class="footer-link"><a href="#">page b</a></li>
                    <li class="footer-link"><a href="#">page c</a></li>
                    <li class="footer-link"><a href="#">page d</a></li>
                </ul>
            </li>
        </ul>

        <!-- collumn-3 -->
        <ul class="col-4 float footer-box">
            <li>
                <h5 class="footer-h5">Contact etc.</h5>
                <ul class="footer-linkbox">
                    <li class="footer-link"><a href="#">Contact</a></li>
                    <li class="footer-link"><a href="#">Sitemap</a></li>
                </ul>
            </li>
        </ul>
    </ul>

    <div class="lower-footer col-12 float">
        <div class="footer-item col-12 float">&copy; ArmaniimusWebdevelopment</div>
    </div>
</footer>
