<header>
    <img src="../images/logo/logo.jpg" alt="" class="logo">
    <nav id="nav" class="row">

        <div class="hid-no-desk"></div>

        <!-- main nav -->
        <ul class="col-10 col-m-12 main-nav">
            <li class="col-3 col-m-3"><a href="index.html" class="col-12 col-m-12">Home</a></li>

            <li class="col-3 col-m-3 cvee dropdown-nav">
                <a href="#" class="hid-if-mob dropbtn">Cv en etc.</a>
                <div class="dropdown-content">
                    <a href="cv.html" class="col-12 col-m-12">CV</a>
                    <a href="overmij.html"class="col-12 col-m-12">Over mij</a>
                    <a href="bewijsstukken.html"class="col-12 col-m-12">Bewijsstukken</a>
                </div>
            </li>

            <li class="col-3 col-m-3 projecten dropdown-nav">
                <a href="#" class="hid-if-mob dropbtn">Projecten</a>
                <div class="dropdown-content">
                    <a href="projectenWithVid.html" class="col-12 col-m-12">Projecten met video</a>
                    <a href="projectenNoVid.html" class="col-12 col-m-12">Projecten zonder video</a>
                </div>
            </li>

            <li class="col-3 col-m-3"><a href="contact.html" class="col-12 col-m-12">Contact</a></li>
        </ul>
        <div class="hid-no-desk"></div>
    </nav>
</header>
