<header class="row">
    <div class="hid-no-desk"></div>
    <div class="col-10 col-m-12 headwrap">
        <img src="../images/logo/logo.jpg" alt="" class="logo">
        <!-- main nav -->
        <nav>
            <ul class="col-12 col-m-12 main-nav">
                <li class="col-3 col-m-3"><a href="index.html" class="col-12 col-m-12">Home</a></li>

                <li class="col-3 col-m-3 cvee dropdown-nav">
                    <a href="#" class="hid-if-mob dropbtn">Cv en etc.</a>
                    <ul class="dropdown-content">
                        <li><a href="cv.html" class="col-12 col-m-12">CV</a></li>
                        <li><a href="overmij.html" class="col-12 col-m-12">Over mij</a></li>
                        <li><a href="bewijsstukken.html" class="col-12 col-m-12">Bewijsstukken</a></li>
                    </ul>
                </li>

                <li class="col-3 col-m-3 projecten dropdown-nav">
                    <a href="#" class="hid-if-mob dropbtn">Projecten</a>
                    <ul class="dropdown-content">
                        <li><a href="projectenWithVid.html" class="col-12 col-m-12">Projecten met video</a></li>
                        <li><a href="projectenNoVid.html" class="col-12 col-m-12">Projecten zonder video</a></li>
                    </ul>
                </li>

                <li class="col-3 col-m-3"><a href="contact.html" class="col-12 col-m-12">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="hid-no-desk"></div>
</header>
