.footer {
    // height: 30px;
    position: relative;
    top: 30px;
}

.upper-footer {
    background-color: #70CF1B;
    padding: 0 5%;
    margin-bottom: 0px;
}

.lower-footer {
    margin-top: 0px;
    background-color: #264B05;
    padding: 15px 5%;
}

.footer-h5 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 17px;
}

.footer-box {
    padding: 10px;
    height: 100%;
}

.footer-middle-box {
    border-left: solid black 1px;
    border-right:  solid black 1px;
}

.footer-visie {
    padding: 0 20px;
}

.footer-linkbox {
    padding-top: 10px;
}

//footer text styles
.footer-link {
    text-align: center;
    text-decoration: none;
    margin: 0px;
}

.footer-link a {
    padding: 3px;
    cursor: pointer;
    text-decoration: none;
}

.footer-link:hover a {
    color: #933;
}

.lower-footer,
.footer-link a,
.footer-visie {
    color: azure
}
