/*basic styles
1st layer black -->html
2nd layer grey --> main
3th layer white --> thirdlayer
4th layer mixed --> 4layer
*/
html {
	font-family: "Lucida Sans", sans-serif;
	display: block;
	background: radial-gradient(#155, #000);
	z-index: 0;
}
html, body{
	height: 100%;
	width: 100%;
	margin: 0px;

}

/* background animation */
#universe1 {
	margin: 0px;
	height: 100%;
	width: 100%;
	position: fixed;
	background-image: url(star_skyL1.png);
	background-size: contain;
	-webkit-animation: flash ease-in-out 7.5s infinite;
	animation: flash ease-in-out 7.5s infinite;
	z-index: -3;
}
#universe2 {
	margin: 0px;
	height: 100%;
	width: 100%;
	position: fixed;
	background-image: url(star_skyL2.png);
	background-size: contain;
	-webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
	-webkit-animation: flash ease-in-out 5s infinite;
	animation: flash ease-in-out 5s infinite;
	z-index: -2;
}
#universe3 {
	margin: 0px;
	height: 100%;
	width: 100%;
	position: fixed;
	background-image: url(star_skyL3.png);
	background-size: contain;
	-webkit-animation-delay: 1.85s;
    animation-delay: 1.85s;
	-webkit-animation: flash ease-in-out 3.75s infinite;
	animation: flash ease-in-out 3.75s infinite;
	z-index: -1;
}

@-webkit-keyframes flash{
	0% { opacity: 0.95;}
	25% { opacity: 0.7;}
	50% { opacity: 0.5;}
	75% { opacity: 0.7;}
	100% { opacity: 0.95;}

}
@keyframes flash{
	0% { opacity: 1;}
	25% { opacity: 0.7;}
	50% { opacity: 0.5;}
	75% { opacity: 0.7;}
	100% { opacity: 1;}

}

nav{
	height: 50px;
	position: fixed;
	margin-left: -1%;
}
main{

	border:solid grey 1px;
	border-radius:2%;
	background: rgba(90, 90, 90, 0.6);
}
/*grid for mobile phones: */
[class*="col-"] {
	width: 100%;
	display: block;
}
@media only screen and (max-width: 600px) {
	nav ul{
		margin-top: 0px;
		margin-left: 0px;
		width: 16%;
	}
	nav ul li div a{
		margin-left: 100%;
	}
	.hideNav{
		display:none;
	}
	.navWidth{
		width: 100%;
		margin-top: -16px;
		margin-left: -40px;
	}
	.hide-s{
		display: none;
	}
	nav ul li{
		clear: both;
		width: 50%;
	}
	.logo{
		clear: both;

	}
	/*hamburger menu*/

	.dropdown-content a{
		width: 100%;
		position: relative;
		font-size: 12px;
	}
	.dropdown-content{
		position: absolute;
		top: 0px;
		height: 35px;
		width: 100%;
		margin-top: -1px;
		left: 1px;
	}
	.show-s{
		color: green;
		font-size: 30px;
		text-align: center;
		width: 100%;
		height: 100%;
		font-weight: bold;
		cursor: pointer;
	}
	.show-s:hover{
		color: greenyellow;;
	}
}
@media only screen and (max-width: 900px) {
	.hide-m{
		display: none;
	}
}

/*grid for tablets: */
@media only screen and (min-width: 600px) and (max-width: 900px)  {
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}

	.show-s{
		display: none;
	}
	.dropdown-content a{
		font-size: 16px;
	}
	.twoSideBySide{
		margin: 3%;
		width: 44%;
	}
	nav{
		top: -17px
	}
}

/* grid for desktop: */
@media only screen and (min-width: 900px) {/*768pix previously*/
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	.show-s{
		display: none;
	}
	nav{
		top: -17px;
		left: 8.33%;
		margin-left:0px
	}
	.twoSideBySide{
		margin: 3%;
		width: 44%;
	}
}

/*grid etc*/
* {
	box-sizing: border-box;

}
.row::after {
	content: "";
	clear: both;
	display: table;
}
[class*="col-"] {
	float: left;
	padding: 0.2px;
}

/*navigatie*/
nav div ul li a{
	display: block;
	text-decoration: none;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 5%;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}
nav div ul li{
	list-style: none;
	float:left;
	height: 40px;
	width: 24.99%;
}
.logo{
	margin-top: 0px;
	float: left;
	width: 40px;
	height: 40px;
	background-image: url("https://kvomtq-dm2306.files.1drv.com/y3mTOfdhp08kdg4FqiFW-PZ2RxZtrW-1cpHCWm_EiGBMaVpHQr7gmQImct2PuHd56JLJLxYu_H40OGzEvNZLgnQ0TPeAG_qEtfuP9LUm1auHNKimqwkmn6Qk2gnSMJ5fLwGOO1o7jkOw0fzwWYArXwgDx-h3_qmQo203ue5FIY_oOA?width=40&height=40&cropmode=none");
}

/*dropdown menu*/
.dropbtn {
	cursor: pointer;
}

.projecten {
	position: relative;
}
.cvee {
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 100%;
}

.dropdown-content a {
	text-decoration: none;
	display: block;
}
.projecten:hover .dropdown-content {
	display: block;
}
.cvee:hover .dropdown-content {
	display: block;
}

/*footer*/
footer{
	display: block;
}
footer ul{
	margin-left: -40px;
}
footer ul li{
	list-style: none;
	float:left;
	height: 30px;
	width: 24.99%;

}
footer ul li a{
	display: block;
	text-decoration: none;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 3%;
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
}
.kop1{
	color:royalblue
}
.kop2{
	font-weight: bold;
}
.kop3{
	color: darkblue;
}
P{
	color: black
}
.thirdLayer{
	background-color: white;
	box-shadow: black 3px 3px 8px 1px;
	border-radius:2%;
	border: grey solid 1px;
	background-color: rgba(255, 255, 255, 0.8);
}
.twoSideBySide{
	padding: 15px;
	float:left;
}
.multiBlock{
	padding: 10px;
	margin:0px;
	height:380px;
	border-width: 3px;
}
.project{
	padding: 10px;
	margin:0px;
}
.video{
	cursor: pointer;
	width:100%;
	margin-left: 0px;
	margin-top: 8px;
	margin-bottom: 8px;

}
.video h5{
	color:aliceblue;
}
.video:hover h5{
	color:white;
}

.fourthLayerExtra, ul li a, .logo{
	text-shadow: 3px 2px 2px black;
	box-shadow: 3px 3px 8px 1px black;
}
fourthLayerBorder, ul li, .video, .logo{
	border: solid black 1px;
}
fourthlayer, ul li a, .video{
	background: linear-gradient(black,grey,black);
	color: azure;
}
fourthlayer, ul li a:hover, .video:hover{
	background: linear-gradient(black,white,black);
}
