// removes list style
ul {
    list-style-type: none;
}

// sticks the main navigation to the top and removes unnessecary margin to the bottom
.main-nav {
    margin: 0px;
}

.main-nav li {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-nav li a {
	background: linear-gradient($darkgreen -40%, $lightgreen, $darkgreen 140%);
	color: azure;
	border: solid black 1px;

    text-shadow: 1px 1px 0px $darkgreen, 2px 2px 1px $darkgreen;
    height: 50px;
    width: 100%;
}

.main-nav li a:hover,
.main-nav li a:focus {
	background: linear-gradient($darkgreen -10%, $darkerlightgreen, $darkgreen 110%);
}

// removes unnecessary padding inherited from the grid
nav,
.main-nav,
.main-nav li,
.main-nav > .dropdown-nav {
    padding: 0px;
}

// hides the dropdown button
.hid-if-mob {
    display: none;
}

// tablet and desktop view
@media only screen and (min-width: 600px) {

    // shows the dropdown button
    .hid-if-mob {
        display: block;
    }
}

// centers vertical aligns text inside the navigation
.dropdown-content,
.dropdown-content li a {
    width: 100%;
}

.main-nav li a,
.dropdown-content li a {
    padding: 15px;
}

.headwrap {
    padding: 0px;
    margin: 0px;
}

@media only screen and (min-width: 600px) {
    // sets the main-nav to auto
    .main-nav li li a {
        height: auto;
    }

    // makes sure the logo stands beside the navigation bar
    .main-nav {
        padding-left: 50px;
        margin-left: -50px;
    }
}
