html {
	font-family: "Lucida Sans", sans-serif;
	display: block;
	background: radial-gradient(#155, #000);
	z-index: 0;
    background-attachment: fixed;
}
html, body{
	height: 100%;
	width: 100%;
	margin: 0px;

}

/* background animation */
#universe1 {
	margin: 0px;
	height: 100%;
	width: 100%;
	position: fixed;
	background-image: url(../images/star_skyL1.png);
	background-size: cover;
	-webkit-animation: flash ease-in-out 7.5s infinite;
	animation: flash ease-in-out 7.5s infinite;
	z-index: -3;
    background-attachment: fixed;
}
#universe2 {
	margin: 0px;
	height: 100%;
	width: 100%;
	position: fixed;
	background-image: url(../images/star_skyL2.png);
	background-size:cover;
	-webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
	-webkit-animation: flash ease-in-out 5s infinite;
	animation: flash ease-in-out 5s infinite;
	z-index: -2;
    background-attachment: fixed;
}
#universe3 {
	margin: 0px;
	height: 100%;
	width: 100%;
	position: fixed;
	background-image: url(../images/star_skyL3.png);
	background-size: cover;
	-webkit-animation-delay: 1.85s;
    animation-delay: 1.85s;
	-webkit-animation: flash ease-in-out 3.75s infinite;
	animation: flash ease-in-out 3.75s infinite;
	z-index: -1;
    background-attachment: fixed;
}

@-webkit-keyframes flash{
	0% { opacity: 0.95;}
	25% { opacity: 0.7;}
	50% { opacity: 0.5;}
	75% { opacity: 0.7;}
	100% { opacity: 0.95;}

}
@keyframes flash{
	0% { opacity: 1;}
	25% { opacity: 0.7;}
	50% { opacity: 0.5;}
	75% { opacity: 0.7;}
	100% { opacity: 1;}

}
