// ===========================
// Color styling thirdLayer
// ===========================

//sets the style for the third layer
.third-layer {
	box-shadow: black 3px 3px 8px 1px;
	border-radius:20px;
	border: grey solid 1px;
	background-color: rgba(200, 200, 200, 0.8);
	padding: 15px 30px;
	margin: 30px 0px 0px 0px;
}

.third-layer h2 {
	padding: 10px;
	margin: 0px;
}
