// ===========================
// Color styling thirdLayer
// ===========================

//sets the style for the third layer
.third-layer {
	background-color: white;
	box-shadow: black 3px 3px 8px 1px;
	border-radius:30px;
	border: grey solid 1px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 15px;
	margin: 30px 0px;
}

.third-layer-t {
	background-color: white;
	box-shadow: black 3px 3px 8px 1px;
	border-radius:10px;
	border: grey solid 1px;
	background-color: rgba(255, 255, 255, 0.8);
	display: table;
	padding: 5px 60px;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%
}

.third-layer-t p {
	text-align: center;
}

.third-layer-t h1 {
	text-align: center;
}
