// ========================
// 4th layer colors
// ========================

.fourth-layer-extra,
ul li a,
.logo {
	text-shadow: 3px 2px 2px black;
	box-shadow: 3px 3px 8px 1px black;
}

// sets the border for the 4th layer
.logo {
	border: solid black 1px;
}

// sets the background and tekst color for the 4th layer
.fourth-layer,
.main-nav li a,
footer li a,
.video {
	background: linear-gradient(black,grey,black);
	color: azure;
	border: solid black 1px;
}

// sets the hover background color for the 4th layer
.fourth-layer:hover,
.main-nav li a:hover,
footer li a:hover,
.video:hover,

.fourth-layer:focus,
.main-nav li a:focus,
footer li a:focus,
.video:focus {
	background: linear-gradient(black,white,black);
}
