// ===========================
// Color styling thirdLayer
// ===========================

//sets the style for the third layer
.thirdLayer {
	background-color: white;
	box-shadow: black 3px 3px 8px 1px;
	border-radius:2%;
	border: grey solid 1px;
	background-color: rgba(255, 255, 255, 0.8);
}
