<footer class="footer col-12">
    <ul class="col-12 float upper-footer">

        <!-- collumn-1 -->
        <ul class="col-4 float footer-box">
            <li>
                <h5 class="footer-h5">Onze visie</h5>
                <p class="footer-visie">
                    Wij van ArmaniimusWebdevelopment geloven dat technologie niet op zichzelf staat
                </p>
                <p class="footer-visie">
                    Het moet gebracht worden met vriendelijke hand.
                </p>
                <p class="footer-visie">
                    met aandacht voor de eind gebruiker voor een maximum resultaat.
                </p>
                <p class="footer-visie footer-visie-bottom">
                    Koude technologie met een vriendelijk gezicht.
                </p>
            </li>
        </ul>

        <!-- collumn-2 -->
        <ul class="col-4 float footer-box">
            <li>
                <h5 class="footer-h5">Meest interesante pagina's</h5>
                <ul class="footer-middle-box footer-linkbox">
                    <li class="footer-link"><a href="http://armaniimus-webdevelopment.nl/overmij.html">Over mij</a></li>
                    <li class="footer-link"><a href="eigen_projecten_showcase/checkers/checkers.html">Draughts Project</a></li>
                    <li class="footer-link"><a href="projecten-met-video.html">Projecten met video</a></li>
                    <li class="footer-link"><a href="projecten-zonder-video.html">Projecten zonder video</a></li>
                </ul>
            </li>
        </ul>

        <!-- collumn-3 -->
        <ul class="col-4 float footer-box">
            <li>
                <h5 class="footer-h5">Contact etc.</h5>
                <ul class="footer-linkbox">
                    <li class="footer-link"><a href="contact.html">Contact</a></li>
                    <li class="footer-link"><a href="sitemap.xml">Sitemap</a></li>
                </ul>
            </li>
        </ul>
    </ul>

    <div class="lower-footer col-12 float">
        <div class="footer-copy col-12 float">&copy; ArmaniimusWebdevelopment</div>
    </div>
</footer>
