<header class="row">
    <div class="header-top-bar col-xs-12"></div>

    <div class="headwrap">
        <img src="images/logo/logo.png" alt="" class="header-logo">
        <!-- main nav -->

        <div class="header-main">
            <nav>
                <ul class="col-6 col-m-6 header-main-nav">
                    <li class="col-3 col-m-3"><a href="index" class="col-12 col-m-12">Home</a></li>

                    <li class="col-3 col-m-3 cvee dropdown-nav">
                        <a href="#" class="hid-if-mob dropbtn">Cv en etc.</a>
                        <ul class="dropdown-content">
                            <li><a href="cv" class="col-12 col-m-12">CV</a></li>
                            <li><a href="overmij" class="col-12 col-m-12">Over mij</a></li>
                            <li><a href="bewijsstukken" class="col-12 col-m-12">Bewijsstukken</a></li>
                        </ul>
                    </li>

                    <li class="col-3 col-m-3 projecten dropdown-nav">
                        <a href="#" class="hid-if-mob dropbtn">Projecten</a>
                        <ul class="dropdown-content">
                            <li><a href="projecten-met-video" class="col-12 col-m-12">Projecten met video</a></li>
                            <li><a href="projecten-zonder-video" class="col-12 col-m-12">Projecten zonder video</a></li>
                        </ul>
                    </li>

                    <li class="col-3 col-m-3"><a href="contact" class="col-12 col-m-12">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
