// sets the properties of the logo
.logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
}

// makes sure that the navigation looks as 1 thing
@media only screen and (min-width: 600px) {
    .logo {
        float: left;
    }
}
