<!DOCTYPE html>
<html>
  {% include head.html %}

<body>

<!--nav -->
{% include nav.html %}

<!--main -->
<div class="row">
    <div class="hid-no-desk"></div>
    <div class="col-10 col-m-12 main">
        {{ content }}
    </div>
    <div class="hid-no-desk"></div>
</div>

<!--footer -->
{% include footer.html %}

</body>

</html>

<!-- <div id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p>&copy; <?php echo $sliderlink; ?> || Alle rechten voorbehouden. || Een onderdeel van <a
                            href="http://succes.media/" target="_blank">SuccesMedia</a></p>
            </div>

            <div class="col-md-5">
                <ul class="copyright-link">
                    <li><a href="interessante-websites">Interessante websites</a></li>
                    <li><a href="algemene-voorwaarden.php">Algemene voorwaarden</a></li>
                    <li><a href="sitemap.php">Sitemap</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> -->


<!--
.copyright-link {
    padding: 0;
    list-style: none;
    margin: 5px 0;
    float: right;
}

.copyright-link li {
    display: inline-block;
}

.copyright-link li + li:before {
    padding: 0 5px;
    color: #fff;
    content: "/\00a0";
}

.copyright-link li a {
    color: #fff;
}

.copyright-link li a:hover {
    color: #fff;
}

@media (max-width: 767px) {
    #copyright p {
        text-align: center;
    }

    .copyright-link {
        float: none;
        text-align: center;
        margin: -10px auto;
    }
}
-->
