@media only screen and (min-width: 600px) {

   //makes sure the dropdown shows propely
   .dropdown-ul {
       position: relative;
   }

   //hides dropdown-content
   .dropdown-content {
       position: absolute;
       visibility: hidden;
       margin-top: -1px;
   }

   .dropdown-content li a {
       display: block;
   }

   //shows the dropdown menu when hovering or focusing
   .dropdown-ul:hover .dropdown-content,
   .dropdown-ul li:focus + .dropdown-content,
   .dropdown-content li:focus,
   .dropdown-content li:focus ~ li {
       visibility: visible;
       border: 1px solid black;
   }
}
