// sets the text layout of the navigation and the footer
.main-nav li,
.main-nav li a,
.dropdown-content a,
footer ul li,
footer ul li a {
    text-decoration: none;
	cursor: pointer;
    text-align: center;
}
