.main-files-item-icon {
    height: 50px;
    width: 50px;
}

.main-files-item {
    display: inline-block;
    height: 110px;
    width: 110px;
    padding: 15px;
}

.main-files-item p {
    max-width: 100px;
}

.main-files-item:hover,
.main-files-item-icon:hover {
    background-color: lightblue;
    cursor: pointer;

}
