.main-files-item-icon {
    height: 50px;
    width: 50px;
}

.main-files-item {
    float: left;
    height: 110px;
    width: 110px;
    padding: 15px;
}

.main-files-item p {
    max-width: 120px;
    max-height: 45px;
    word-wrap: break-word;
}

.main-files-item:hover,
.main-files-item-icon:hover {
    background-color: lightblue;
    cursor: pointer;

}
