.urlBar {
    border: solid black 1px;
    min-height: 30px;
    margin: 0 10%;
    width: 80%;
}

.urlBar ul {
    margin: 0 auto;
    padding: 0px;
}

.urlBar-item {
    list-style: none;
    float: left;
}

.urlBar-item:hover {
    cursor: pointer;
    color: darkblue;
    text-shadow: 1px 1px 0px lightblue;
}

.urlBar-item-link:before {
    padding:  0 5px;
    font-weight: bold;
    content: ">";
}

.main-files-item-icon {
    height: 50px;
    width: 50px;
}

.main-files-item {
    float: left;
    height: 110px;
    width: 110px;
    padding: 15px;
}

.main-files-item p {
    max-width: 120px;
    max-height: 45px;
    word-wrap: break-word;
}

.main-files-item:hover,
.main-files-item-icon:hover {
    background-color: lightblue;
    cursor: pointer;

}
