// sets the text layout of the navigation and the footer
// .header-main-nav li,
.header-main-nav li a,
.dropdown-title,
.dropdown-content a {
	cursor: pointer;
    text-align: center;
    text-decoration: none;
}

ul {
    padding: 0px;
}

ul li {
    margin: 15px 0px;
}

#overmij-wat_kan_ik ul {
    margin-top: 40px;
    list-style-type: disc;
    list-style-position: inside;
}
