/* makes sure you'll get rows underneath eachother: */
.row::after {
  content: "";
  clear: both;
  display: table; }

/* grid support function1: */
* {
  box-sizing: border-box; }

/* grid support function2: */
[class*="col-"] {
  float: left;
  padding: 15px; }

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  border: solid green 1px; }

.hid-no-desk {
  display: none; }

/* For tablets: */
@media only screen and (min-width: 600px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
/* For desktop: */
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; }

  .hid-no-desk {
    display: block;
    border-color: red; } }
.logo {
  background-image: url(http://via.placeholder.com/60x60);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: -16px;
  height: 60px; }

nav {
  margin-right: -16px; }

@media only screen and (min-width: 600px) {
  .logo {
    background-position: right; } }
.main-nav {
  padding-top: 0px;
  margin-top: 0px; }

.hid-if-mob {
  display: none; }

.main-nav > .dropdown-nav {
  padding: 0px; }

.dropbtn {
  padding: 15px; }

ul {
  list-style-type: none; }

@media only screen and (min-width: 600px) {
  .hid-if-mob {
    display: block; }

  .main-nav > li {
    height: 60px; }

  .main-nav li a,
  .main-nav li div,
  .main-nav li div a {
    height: 100%;
    width: 100%; }

  .main-nav li a {
    display: block;
    padding-top: 15px; }

  .main-nav li {
    padding: 0px; } }
@media only screen and (min-width: 600px) {
  .projecten, .cvee {
    position: relative; }

  .dropdown-content {
    display: none;
    position: absolute;
    margin-top: -1px; }

  .dropdown-content a {
    display: block; }

  .projecten:hover .dropdown-content, .cvee:hover .dropdown-content {
    display: block; } }
.main-nav li,
.main-nav li a,
.dropdown-content a,
footer ul li,
footer ul li a {
  text-decoration: none;
  cursor: pointer;
  text-align: center; }

html {
  font-family: "Lucida Sans", sans-serif;
  display: block;
  background: radial-gradient(#155, #000);
  z-index: 0; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0px; }

/* background animation */
#universe1 {
  margin: 0px;
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url(../images/star_skyL1.png);
  background-size: contain;
  -webkit-animation: flash ease-in-out 7.5s infinite;
  animation: flash ease-in-out 7.5s infinite;
  z-index: -3; }

#universe2 {
  margin: 0px;
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url(../images/star_skyL2.png);
  background-size: contain;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
  -webkit-animation: flash ease-in-out 5s infinite;
  animation: flash ease-in-out 5s infinite;
  z-index: -2; }

#universe3 {
  margin: 0px;
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url(../images/star_skyL3.png);
  background-size: contain;
  -webkit-animation-delay: 1.85s;
  animation-delay: 1.85s;
  -webkit-animation: flash ease-in-out 3.75s infinite;
  animation: flash ease-in-out 3.75s infinite;
  z-index: -1; }

@-webkit-keyframes flash {
  0% {
    opacity: 0.95; }
  25% {
    opacity: 0.7; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.7; }
  100% {
    opacity: 0.95; } }
@keyframes flash {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.7; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.7; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=portfolio.css.map */
